.titulo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 255, 106);
}
.cajas{
  border: 1px solid black;
  width: 25%;
  margin-top: 5px;
  float:left;
  margin-left: 10px;
  padding: 10px;
}


#btn2{
    background-color: pink;
}
#btn3{
    background-color: rgb(232, 26, 204);
}

button{
    background-color: blueviolet;
}