.titulo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cajas{
  border: 1px solid black;
  width: 25%;
  margin-top: 5px;
  float:left;
  margin-left: 10px;
  padding: 10px;
}


#btn1{
    background-color: pink;
}
